* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    background-color: rgba(95, 95, 95, 0.3);
    place-items: center;
}

.wrapper {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 2em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.modalForm {
    width: 35rem;
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}


.swipe {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: royalblue;
    padding: 2px;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.btn {
    width: 49%;
    background-color: royalblue;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2rem;
    padding: 0.6em;
    border: none;
    outline: none;
    cursor: pointer;
}

.moveBtn {
    position: absolute;
    width: 49%;
    color: royalblue;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2rem;
    padding: 0.6em;
    border: none;
    outline: none;
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;

}

.moveBtnClick {
    transform: translateX(101%);
    transition: all 0.3s ease-in-out;
}

input {
    width: 100%;
    color: rgb(110, 110, 110);
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    background-color: rgb(245, 245, 245);
    padding: 0.6em 1em;
    margin: 0.6rem 0;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    outline: none;
}

input:focus {
    outline: none;
}

.submit {
    width: 35%;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.6em;
    color: #fff;
    background-color: royalblue;
    border-radius: 10px;
    margin-top: 1rem;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit:hover {
    background-color: #fff;
    color: royalblue;
    transition: all 0.3s ease-in-out;

}

.form {
    width: 90%;
    display: none;
    margin-top: 2.5rem;
}

.signupForm {
    display: block;
}

.loginForm {
    display: block;
}

@media screen and (max-width: 420px) {
    .wrapper {
        width: 90%;
    }
    .modalForm {
        width: 100%;
        min-height: 54vh;
    }
    .btn, .moveBtn, input, .submit {
        font-size: 1.2rem;
    }
    .form {
        margin-top: 1.5em;
    }
}

